services:
  foxglove-bridge:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: foxglove-bridge
    network_mode: "host"
    environment:
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID:-0}
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
    restart: unless-stopped
